<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sustainability in LLM-assisted Software Engineering (SILAS) - {{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript">
        function toggleNext(e){
          var subElement = e.nextElementSibling;
          subElement.style.display = subElement.style.display === 'none' ? 'inline' : 'none';
        }
    </script>
  </head>
  <body>

    <div class="title">Sustainability in LLM-assisted Software Engineering (SILAS)</div>
    <div class="place">ICT4S 2026 — 12 June 2026, Bern, Switzerland</div>
   <!--  {% include navigation.html %} -->
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
    </footer>
  </body>
</html>
