<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sustainability in LLM-assisted Software Engineering (SILAS) - {{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript">
        function toggleNext(e){
          var subElement = e.nextElementSibling;
          subElement.style.display = subElement.style.display === 'none' ? 'inline' : 'none';
        }
    </script>
  </head>
  <body>

    <div class="title">Sustainability in LLM-assisted Software Engineering (SILAS)</div>
    <div class="place">ICT4S 2026 — 12 June 2026, Bern, Switzerland</div>
   {% include navigation.html %}
    <div class="logo"><img src="images/SILAS-logo.png" alt="SILAS Logo"/></div>
    <div class="horizontal-images">
      <img src="images/Campus_ICT4S_026.png" alt="Campus"/>
      <img src="images/ICT4S_2026_BernZytglogge.png" alt="Bern"/>
      <img src="images/ICT4S_2026_TraimInBern.png" alt="Tram in Bern"/>
      <img src="images/WelcomeToBernWebsite.png" alt="Bern"/>
    </div> 
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
    </footer>
  </body>
</html>
